#createBtn{
    float: left;
    width: 13%;
  }

  #button:hover{
    cursor: pointer;
  }

  #createBtn button{
    background: #8B6FC9;
    color: white;
    margin-left: 20px;
    border-radius: 0%;
  }