<body>
  <div class="row">
    <div class="col-2">
      <div id="mySidenav" class="sidenav">
        <img src="../assets/admin_logo.PNG" id="logo">
        <a href="#"><img src="../assets/check_in_logo.PNG">  Check-In</a>
        <a href="#"><img src="../assets/check_out_logo.PNG">  Check-Out</a>
        <a href="#"><img src="../assets/book_room_logo.PNG">  Book a room</a>
        <a href="#"><img src="../assets/guest_logo.PNG">   Guest</a>
        <a href="#"><img src="../assets/bookings_logo.PNG">   Bookings</a>
        <a href="#"><img src="../assets/rooms_logo.PNG">   Rooms</a>
        <a href="#"><img src="../assets/reports_logo.PNG">   Reports</a>
        <a href="#"><img src="../assets/housekeeping_logo.PNG">   Housekeeping</a>
        <a href="#"><img src="../assets/user_logo.PNG">   User Accounts</a>
        <a href="#"><img src="../assets/products_logo.PNG">  Products</a>
        <a href="#"><img src="../assets/room_rate_logo.PNG">   Room type & Rate</a>
      </div>
    </div>

    <div class="col-10">
      <div id="dispAll">

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>