<div id="topNav">

    <div id="textbox">

        <label>

            <input type="text" class="form-control" style="width: 1000px; border-radius: 0%; text-align: center; font-weight: bold;" placeholder="SEARCH FOR A PRODUCT" />

        </label>
    </div>

    <div id="createBtn">

        <button class="form-control" id="button"  routerLink ="/newProduct"><b> + CREATE NEW </b></button>

    </div>

</div>

<br>
<br>
<br>
<br>
<br>

<div id="dispAll">

    <ul id="Grid">

        <li *ngFor="let c of results">

            <div id="card" class="card" (click)="viewProduct(c.productName)" style="width: 18rem;">

                <img class="card-img-top" src="../../assets/{{c.productImage}}">

                <div class="card-body">

                    <h5 class="card-title" style="padding-top:10px;">{{ c.productName }}</h5>
                    <h6 id="test " class="card-text" style="padding-top:10px;">Cost:{{ c.productCost }}</h6>

                </div>

            </div>

        </li>

    </ul>

</div>